listen-port = 8333

aes-addr = "192.168.20.14"
aes-port = 4722
aes-use-tls = true

# Path to a directory which contains the PEM encoded CA root
# certificates used to verify server certificate. See
# http://www.openssl.org/docs/ssl/SSL_CTX_load_verify_locations.html
# for details of the file naming scheme
#
# aes-cacert-directory = "/etc/ssl/csta-certs/"

api-user = "avaya"
api-pass = "avayapassword"

switch-name = "ADACs8300"

# Log low-level CSTA library requests/responses
log-library = false

# web-hook-handler-url = "http://localhost:8000/avaya/hook/"

# How quickly to release unused agents (in seconds). If no WebSocket
# clients use an agent for this interval, that agent is released (all
# monitoring stopped and events are no longer tracked for that agent).
agent-release-delay = 60
